<form data-ng-submit="submitQuery()">
    <span><strong>Repository:</strong></span>
    <input type="text" data-ng-model="user" placeholder="Repository Owner's Name" required> /
    <input type="text" data-ng-model="repo" placeholder="Repository Name" required>
    <button type="submit">Generate Report</button>
</form>

<div data-ng-if="foundRepo">
    <h1>Report for {{ user }}/{{ repo }}</h1>

    <table>
        <tr data-ng-repeat="contributor in contributors">
            <td>{{ contributor.name }}</td>
        </tr>
    </table>
</div>
